<h1 class="py-5 text-center">Your Shopping Cart</h1>
<div class="row justify-content-md-center">
  <div class="col col-12 col-md-8 mb-5">
    <div class="p-3 bg-white d-flex align-items-start shadow-sm rounded-3 mb-3" *ngFor="let product of cart">
      <img class="rounded-3 shadow-sm me-3" src="{{ product.url + '&h=800' }}" alt="{{ product.name }}">
      <div class="flex-fill">
        <h2>{{ product.name }}</h2>
        <select class="form-select w-auto" [(ngModel)]="product.quantity">
          <option *ngFor="let i of [1, 2, 3, 4, 5]">{{ i }}</option>
        </select>
      </div>
      <p class="ms-auto"><strong>${{ product.price }}</strong></p>
    </div>
  </div>
</div>