<h1 class="py-5 text-center">{{ product.name }}</h1>
<div class="row justify-content-md-center">
  <div class="col col-12 col-md-6 mb-5">
    <img class="img-thumbnail rounded-3 shadow-sm" src="{{ product.url + '&h=800' }}" alt="{{ product.name }}">
  </div>
  <div class="col col-12 col-md-6 mb-5 d-grid justify-content-center text-center align-content-center">
    <p class="display-4">${{ product.price }}</p>
    <p class="mb-5">{{ product.description }}</p>
    <form>
      <select class="form-select mb-3">
        <option *ngFor="let i of [1, 2, 3, 4, 5]">{{ i }}</option>
      </select>
      <button class="btn btn-lg btn-primary">Add to Cart</button>
    </form>
  </div>
</div>