.pulse {
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 90% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.cart-icon {
  position: relative;
}

.cart-icon-count {
  position: absolute;
  color: #F08804;
  font-size: 1.2rem;
  font-weight: bold;
  display: grid;
  justify-content: center;
  width: 32px;
  height: 32px;
  align-items: center;
  margin: 0px 0 0 0;
  padding-top: 6px;
}