<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">MyStore</span>
    <div class="navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Product List</a>
        </li>
      </ul>
      <span class="navbar-text">
        <a class="nav-link d-flex align-items-end" [routerLink]="['/cart']">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-bag-fill me-1" viewBox="0 0 16 16">
            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z"/>
            <text x="5" y="14" class="cart-text">{{ cartTotal }}</text>
          </svg> 
        Cart</a>
      </span>
    </div>
  </div>
</nav>
<main class="container pb-5">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
