/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap.scss'; 
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
  background-color: #f7f7f7;
}

.cart-text {
  color: #F08804;
  font-size: 0.6rem; 
  font-weight: bold;
}